
.App {
  text-align: center;
  margin: auto;
}
.textInput{
  height:200px;
  width:50%;
}
.form{
  display: flex;
  flex-flow: column nowrap;
  margin: auto;
  justify-content: center;
  align-items: center;

}

.submit{
  height:50px;
  width:100px;
}
.csv{
  height:50px;
  width:100px;
}
.csv a{
  text-decoration: none;
  color: black;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height:100%;
  width:100%;
  
}
.csv a:hover{
  cursor: default;
}


